@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;

  /* Variables de color personalizadas */
  --color-primario-0: #1b1b1b;
  --color-primario-10: #432505;
  --color-primario-20: #724711;
  --color-primario-30: #87570c;
  --color-primario-40: #a36e05;
  --color-primario-50: #cd9b01;
  --color-primario-60: #f2cb05;
  --color-primario-70: #fde112;
  --color-primario-80: #fff145;
  --color-primario-90: #fffa88;
  --color-primario-95: #ffffc2;
  --color-primario-99: #fefee8;
  --color-primario-100: #ffffff;

  --color-secundario-0: #1b1b1b;
  --color-secundario-10: #003134;
  --color-secundario-20: #0c5455;
  --color-secundario-30: #086667;
  --color-secundario-40: #038c8c;
  --color-secundario-50: #00a4a2;
  --color-secundario-60: #01cbc5;
  --color-secundario-70: #19e8de;
  --color-secundario-80: #4dfbed;
  --color-secundario-90: #8efff4;
  --color-secundario-95: #c6fff8;
  --color-secundario-99: #eefffc;
  --color-secundario-100: #fdfffd;

  --color-error-0: #1b1b1b;
  --color-error-10: #410004;
  --color-error-20: #65090e;
  --color-error-30: #852221;
  --color-error-40: #a53a36;
  --color-error-50: #c5524c;
  --color-error-60: #e66a63;
  --color-error-70: #ff8981;
  --color-error-80: #ffb3ad;
  --color-error-90: #ffdad7;
  --color-error-95: #ffedeb;
  --color-error-99: #fffbff;
  --color-error-100: #ffffff;

  --color-neutral-0: #1b1b1b;
  --color-neutral-10: #1c1b1c;
  --color-neutral-20: #313030;
  --color-neutral-30: #484646;
  --color-neutral-40: #605e5e;
  --color-neutral-50: #797676;
  --color-neutral-60: #939090;
  --color-neutral-70: #adaaaa;
  --color-neutral-80: #c9c6c5;
  --color-neutral-90: #e5e5e1;
  --color-neutral-95: #f4f0ef;
  --color-neutral-99: #fcfcfc;
  --color-neutral-100: #ffffff;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  max-width: 100dvw;
  font-family: var(--font-montserrat);
  overflow-x: hidden;
  touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-wrap: balance;
}

p,
pre {
  text-wrap: pretty;
}
